.custom-table {
    
  width: 100%;
  border-collapse: collapse;
  font-size: 10px;
}

.custom-table th,
.custom-table td {
  border: none; /* Remove table borders */
  text-align: left;
  padding: 8px;
}

.custom-table th:nth-child(n+2),
.custom-table td:nth-child(n+2) {
  width: 33.33%; /* Ensure equal width for value columns */
}